@inherits LayoutComponentBase

@*<div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>*@


@*<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />*@

<RadzenHeader>
    <ChildContent>
        <div class="row justify-content-start align-items-center">
            <div class="col-6 d-flex align-items-center">
                <RadzenSidebarToggle Click="@(args => { sidebarExpanded = !sidebarExpanded; })">
                </RadzenSidebarToggle>
                <RadzenLabel Text="DotHome">
                </RadzenLabel>
            </div>
            <!--<div class="col-6 d-flex align-items-center justify-content-end">-->
                @*<div class="d-none d-md-inline-flex align-items-center">
                        <Social />
                    </div>*@
                <!--<label class="d-none d-sm-inline-block" style="margin-left: 1rem">Theme:</label>
            </div>-->
        </div>
    </ChildContent>
</RadzenHeader>
<div style="width:100%">
    <RadzenBody Expanded="@(!sidebarExpanded)">
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
</div>
<RadzenSidebar @bind-Expanded="sidebarExpanded">
    <ChildContent>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Rooms">
                @foreach (var room in rooms)
                {
                    <RadzenPanelMenuItem Text="@room.Name" Path="@($"Rooms/{room.Name}")" />
                }
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Categories">
                @foreach (var category in categories)
                {
                    <RadzenPanelMenuItem Text="@category.Name" Path="@($"Categories/{category.Name}")" />
                }
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </ChildContent>
</RadzenSidebar>    


<style>
    .rz-sidebar {
        bottom: 0 !important;
    }
</style>